.search-results a.favourite-on,
.search-results a.favourite-off {
    text-indent: -9999em;
    text-decoration: none;
    display: block;
    height: 16px;
    width: 16px;
}

.search-result-modifier a.favourite-on {
	background: url(../../../images/icons/fav_on_16.png) no-repeat;
}

.search-result-modifier a.favourite-off {
    background: url(../../../images/icons/fav_off_16.png) no-repeat;
}